body {
    font-family: sans-serif;

}

h1 {
    font-family: "poppins";
}

h2 {
    font-family: "poppins";
    color: red;
    font-size: 30px;
}

a {
    color: blue;
    text-decoration: none;
}

a:hover {
    color: blueviolet;
}

a:active {
    color: red;
}

a:focus {
    color: aqua;
}

a:visited {
    color: brown;
}