* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Open Sans', sans-serif;
    line-height: 1.6;
}

a {
    text-decoration: none;
    color: #333;
    padding: 20px;
}

ul {
    list-style: none;
}

img {
    max-width: 100%;
}

header {
    display: flex;
    justify-content: space-between;
    padding: 10px;
    
}

.logo {
    width: 130px;
}

nav ul {
    display: flex;
}

@media screen and (max-width: 768px) {
    header {
        display: block;
    }
    .logo {
        margin: 0 auto;
    }
    nav ul {
        margin: 20px auto;
    }
}

