* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body {
    background: black;
    color: white;
    font-family: "Open Sans", sans-serif;
    line-height: 1.6;
    font-weight: lighter;
}

header {
    display: flex;
    justify-content: space-between;
    padding: 10px;
}

.logo {
    width: 100px;
    padding: 10px;
}

.header-right {
    display: flex;
    font-size: 12px;
    margin: auto 0;
    padding: 20px;
}

.header-right i {
    margin-left: 10px;
}

main {
    display: flex;
    justify-content: space-between;
    height: 100vh;
}

.form {
    flex: 1;
    padding: 20px;
}

.main-text {
    flex: 1;
    padding: 20px;
    font-size: 13px;
    line-height: 1.8;
    margin: auto auto auto 0;
}

.form input, .form textarea {
    width: 100%;
    border-radius: 5px;
    border: 0;
    outline: 0;
    background: rgba(255, 255, 255, 0.2);
}

.form button {
    padding: 5px;
    border-radius: 5px;
    border: none;
    font-size: 10px;
    width: 100%;
}

.form label {
    font-size: 12px;
}

