/* Reset */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: "Lato", sans-serif;
}

.container {
    width: 400px;
    margin: 100px auto;
}

.card {
    background: #373f4d;
    color: #fff;
    border-radius: 5px;
    text-align: center;
    padding: 60px 50px;
}

.card h3 {
    font-size: 22px;
    margin-bottom: 15px;
    font-weight: 300;
}

.card p {
    font-size: 15px;
    margin-bottom: 30px;
}