body {
    font-family: "Lato";
    color: antiquewhite;
}

.container {
    background-color: rgb(31, 26, 58);
    width: 500px;
    height: 400px;
    margin: auto;

}

h3 {
    margin: auto;
}

.first-line {
    width: 70%vw;
    margin: center;
}