* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background: rgb(90, 109, 145);
    font-family: sans-serif;
}

.container {
    margin: 50px auto;
    padding: 30px;
    max-width: 600px;
}

.cards {
    border-radius: 10px;
    background: #a09999;
    margin-bottom: 20px;
    padding: 20px;
}

.cards h2 {
    font-size: 25px;
    margin-bottom: 10px;
    font-weight: lighter;
}

.cards p {
    margin-bottom: 10px;
    font-size: 15px;
}

.cards a {
    text-decoration: none;
    font-size: 15px;
}